#page-top {
  nav {}
  .container-fluid {
    section.resume-section {      
      display: flex !important;
      flex-direction: column;
      justify-content: flex-start !important;
    }
    #about {
      .social-icons {
        a {
          margin-bottom: 16px;
        }
      }
    }
    #experience {}
    #education {}
    #skills {
      .w-100 {
        .dev-icons {
          .tooltip {
            .arrow:before {
              border-right-color: $green;
              border-left-color: $green;
            }
            .tooltip-inner {
              border: 1px solid #b2b7bd;
              background: $white;
              color:$green;
              font-size: 1.1rem;
              font-weight: bold;
              font-style: italic;

            }
          }
          .list-inline-item {
            border: 1px solid #b2b7bd;
            padding: 5px;
            width: 80px;
            text-align: center;
            margin-bottom: 10px;
            &:hover {
              box-shadow: 1px 5px 5px rgba(134, 142, 150, .7);
              color: $green;
            }
          }
        }
      }
    }
    #interests {}
    #projects {
      h2 {}
      .card {
        margin-bottom: 30px;
        transition: 0.3s ease;
        &:hover {
          box-shadow: 0 7px 10px rgba(134, 142, 150, .5);
          transform: translateY(-10px) scale(1.03);
        }
        img {}
        .card-body {
          .card-title {
            @include heading-font;
            color: #868e96  ;
            font-weight: 500;
            text-transform: uppercase;
          }
          .card-text {
            @include body-font;
          }
          .btn {
            @include heading-font;
            text-transform: uppercase;
            font-size: 16px;
            padding: 3px 7px;
          }
        }
      }
    }
  }
}